.container{
    width:700px;  
    height:200px;
    margin:50px 40px;
    display: inline-block;
    background-color: rgba(50, 115, 220, 0.3);                    }
.title{
    background-color: rgb(50, 115, 220);
    height:26px;
    
    flex-direction: row;
    
    font-size:18px;
    padding: 2px 0px 0px 5px;
    color:white;
}
.content{
    display:inline-flex;
    flex-flow:row nowrap;
    margin-top:20px;
    margin-left:15px;

}
.cals{
font-size:40px;
color: white;
background-color: rgb(33, 68, 125);
width:100px;
height:70px;
align-content: center;
text-align:center;
margin:20px;
border:solid 2px rgb(9, 13, 63);
border-radius: 6%;
}
.btn{
 width:100px;
 height:40px;
 position:relative;
 top:30px;  

}

.tip{
position:relative;
right:80px;
top:100px;
} 
 .scnd{
    right:101px;
}